.detail-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.half-container {
  flex: 1;
  height: 50vh;
  margin: 16px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}

.introduce-container {
  margin: 16px 0;
}

.detail-name {
  font-size: 2rem;
  margin: 0;
}

.detail-description {
  font-size: 1.2rem;
  color: #333333;
  margin: 0;
}

.detail-image {
  width: 70%;
}

.detail-col {
  color: #555555;
  margin-right: 0.5rem
}

@media (max-width: 768px) {
  .detail-container {
    flex-direction: column;
  }
}