@font-face {
  font-family: 'TTLaundryGothicB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

header {
  box-shadow: 5px 5px 5px #eee;
  padding: 12px;
}

.header-logo {
  font-family: 'TTLaundryGothicB', 'Courier New', Courier, monospace;
  color: #fea5b4;
}